<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><%= recipe.title %></title>
    <style>
      @font-face {
        font-family: 'GuardianRegularEgyptianFont';
        src: url("data:application/x-font-ttf;base64,<%= fontsBase64.GuardianRegularEgyptianFont %>") format('truetype');
      }
      @font-face {
        font-family: 'GuardianRegularSansFont';
        src: url("data:application/x-font-ttf;base64,<%= fontsBase64.GuardianRegularSansFont %>") format('truetype');
      }
      @font-face {
        font-family: 'GuardianHeadlineSemiBoldFont';
        src: url("data:application/x-font-opentype;base64,<%= fontsBase64.GuardianHeadlineSemiBoldFont %>") format('opentype');
      }
      @font-face {
        font-family: 'GuardianSansBoldFont';
        src: url("data:application/x-font-ttf;base64,<%= fontsBase64.GuardianSansBoldFont %>") format('truetype');
      }

      body {
        font-family: GuardianRegularEgyptianFont, sans-serif;
        font-size: 17px;
        line-height: 1.6;
        margin: 40px;
        color: #20201D;
      }

      .header {
        font-family: GuardianHeadlineSemiBoldFont, sans-serif;
        font-size: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
      }

      .feast-logo {
        height: 40px;
      }

      .guardian-logo {
        height: 40px;
      }

      .recipe-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
      }

      .recipe-title {
        font-family: GuardianHeadlineSemiBoldFont, sans-serif;
        font-size: 28px;
        flex: 1;
        line-height: 115%;
      }

      .qr-section img {
        width: 120px;
        height: auto;
      }

      .author {
        font-family: GuardianRegularSansFont, sans-serif;
        font-size: 20px;
        margin-bottom: 20px;
        color: #3D4D26;
      }

      .labels {
        margin-bottom: 0.1rem;
      }

      .timing-table {
        display: block;
        gap: 2rem;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        margin-bottom: 2rem;
      }

      .timing-row {
        font-family: GuardianRegularSansFont, sans-serif;
        font-size: 15px;
        display: flex;
        align-items: center;
        gap: 0.6rem;
      }

      .description {
        font-family: GuardianRegularEgyptianFont, sans-serif;
        font-size: 17px;
      }

      .icon {
        width: 20px;
        height: 20px;
        vertical-align: middle;
      }

      /*.two-column-flow {*/
      /*  display: flex;*/
      /*  align-items: stretch; !*children stretch to same height*!*/
      /*  gap: 2rem;*/
      /*  margin-top: 0.5rem;*/
      /*}*/

      .two-column-flow {
        display: flex;
        column-count: 2;
        column-gap: 3rem;
        margin-top: 2rem;
      }

      .two-column-flow > div {
        flex: 1; /*equal width columns*/
        /*display: flex;*/
        /*flex-direction: column;*/
      }



      .two-column-flow h3 {
        break-after: avoid;
        font-family: GuardianSansBoldFont, sans-serif;
        font-size: 20px;
        margin-top: 1rem;
        margin-bottom: 0.2rem;
      }

      .two-column-flow ul {
        list-style-type: disc;
        padding-left: 1.5rem;
        margin-bottom: 2rem;
        flex: 1; /*make ul stretch to fill available height*/
        display: flex;
        flex-direction: column;
      }

      .two-column-flow li {
        break-inside: avoid;
        font-family: GuardianRegularEgyptianFont, sans-serif;
        font-size: 17px;
        margin-bottom: 0.75rem;
        line-height: 1.6;
      }

      .footer {
        padding-top: 20px;
        border-top: 1px solid #ddd;
        font-size: 14px;
        color: #444;
        page-break-inside: avoid;
        break-inside: avoid;
      }

      .footer-line {
        display: flex;
        align-items: flex-start;
        gap: 10px;
      }

      .footer-icon svg {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        color: #666;
      }

      .footer-text a {
        font-family: GuardianRegularSansFont, sans-serif;
        font-size: 15px;
        text-decoration: none;
      }

      h3 {
        font-weight: bold;
      }

      @media print {
        body {
          margin:1cm;
          padding: 0;
          print-color-adjust: exact;
        }

        .container {
          margin:1cm;
          display: flex;
          flex-direction: column;
          min-height: 100vh;
        }

        .recipe-content {
          flex: 1;
        }

        .footer {
          display: flex;
          border-top: 1px solid #ccc;
          font-size: 14px;
          text-align: left;
          color: #444;
          background: white;
          break-before: avoid;
          flex: 2;
        }
      }

    </style>
</head>

<body>
<div class="container">
    <div class="recipe-content">
<div class="header">
    <div class="feast-logo">
        <%- svgs.FeastLogo %>
    </div>
    <div class="guardian-logo">
        <%- svgs.TheGuardianLogo %>
    </div>
</div>

<div class="recipe-header">
    <div class="recipe-title"><%= recipe.title %>
        <% if (Array.isArray(recipe.contributors)) {
            var names = [];
            for (var i = 0; i < recipe.contributors.length; i++) {
                var id = recipe.contributors[i];
                if (typeof chefs === 'object' && chefs?.[id] && chefs?.[id].webTitle) {
                    names.push(chefs[id].webTitle);
                }
            }
        if (names.length > 0) {
        %>
            <div class="author">
                By <%= names.join(', ') %>
            </div>
        <%  } } %>
    </div>

    <%if (qrImageDataUrl && qrImageDataUrl!=null || qrImageDataUrl?.length>0) { %>
        <div class="qr-section">
        <img src="<%= qrImageDataUrl %>" alt="Scan to open app" />
    </div>
    <% } %>
</div>

<% if (recipe.suitableForDietIds && recipe.suitableForDietIds.length) { %>
    <div class="labels">
        <% for (const label of recipe.suitableForDietIds) {
            const labelKey = label.toLowerCase().replace(/\s+/g, '-');
        %>
        <span>
            <%- svgs[labelKey] %>
      </span>
        <% } %>
    </div>
<% } %>

<div class="timing-table">
    <% for (const time of recipe.timings || []) { %>
        <div class="timing-row">
            <%- svgs["clock-filled"] %>
            <div><%= time.text %></div>
        </div>
    <% } %>

    <% if (recipe.serves && recipe.serves.length) { %>
        <div class="timing-row">
            <%- svgs["knife-and-fork"] %>
            <div>Serves <%= recipe.serves[0].amount.min %> <%= recipe.serves[0].unit %></div>
        </div>
    <% } %>
</div>

<div class="description"><%= recipe.description %></div>

<div class="two-column-flow">
    <div>
        <h3>Ingredients</h3>
        <ul>
            <% for (const group of recipe.ingredients || []) { %>
                <% for (const ing of group.ingredientsList || []) { %>
                    <li>
                        <%= ing.amount?.min %>
                        <% if (ing.unit) { %> <%= ing.unit %>
                        <% } %>
                        <%= ing.name %>
                        <% if (ing.suffix) { %> - <%= ing.suffix %>
                        <% } %>
                    </li>
                <% } %>
            <% } %>
        </ul>
    </div>

    <div>
        <h3>Method</h3>
        <ul>
            <% for (const step of recipe.instructions || []) { %>
                <li><%= step.description %></li>
            <% } %>
        </ul>
    </div>
</div>
    </div>

    <div>
<% if (recipe.bookCredit || recipe.featuredImage) { %>
<footer class="footer">
    <div class="footer-line">
        <% if (recipe.bookCredit) { %>
    <span class="footer-icon">
      <%- svgs["feast-book-outlined"] %>
    </span>
        <span class="footer-text">
        <%= recipe.bookCredit %>
    </span>
        <% } %>
    </div>
</footer>

<% } %>
</div>

</div>
</body>
</html>
